<!DOCTYPE html>
<html>
<head>
  <title>result</title>
</head>
<body>
  <p>緯度: <%= @latitude %></p>
  <p>経度: <%= @longitude %></p>
  <div><iframe src="http://maps.google.co.jp/maps?q=loc:<%= @latitude %>,<%= @longitude %>&iwloc=J&output=embed" width="600" height="600"></iframe></div>
</body>

